/* Global Colors */   
$primaryColor: #CB2146
$secondaryColor: #DF2584
$backgroundColor: #F5F5F5
$secondBackground: #d4d4d465
$tableColor: #919191
$budgetRot: #b34700
$infoGruen: #1fbf43

/* Global Fonts */
$fontRobotoRegular: "RobotoRegular", sans-serif
$fontRobotoLight: "RobotoLight", sans-serif
$fontRobotoBold: "RobotoBold", sans-serif
$fontRobotoItalic: "RobotoItalic", sans-serif
$fontSegoe: "Segoe-Print", sans-serif


/* Elemente */
.siteTitle
    margin-top: 1em
    margin-bottom: 1em

.siteContent
    overflow: scroll
    width: 99%
    height: 100%

button, input, textarea
    padding: 1em
    border: transparent 1px solid
    border-radius: 0.7em
    margin-right: 1em
    margin-bottom: 1em

button, input[type="submit"]
    cursor: pointer
    background-image: linear-gradient(to right, $primaryColor, $secondaryColor)
    color: white
    a
        color: white
        text-decoration: none

input, textarea
    border: 1px solid $tableColor

.searchInput
    width: 20em