@import './src/sass/_var'

:host
    display: flex
    flex-direction: column
    min-height: 100%
    min-width: 100%

.grundInfos
    display: flex
    background-color: white

.firstGap,
.secondGap
    width: 50%

.row
    justify-content: space-between
    display: flex
    p
        padding-right: 1em
        padding-top: 0.2em
        padding-bottom: 0.2em
        img
            height: 2em

.kontaktDaten,
.notfallKontakt,
.sprungHistory
    h4
        width: 50%
        text-align: left
    p
        width: 50%
        text-align: left

.dataSection
    margin-bottom: 1em
    background-color: white
    padding: 1em
    border: transpraent 1px solid
    border-radius: 0.7em
    h2
        margin-bottom: 0.5em


.copy 
    cursor: pointer

.overdue 
  color: red

