<div class="siteContent">
    <div class="siteTitle">
        <span>
            <img [src]="notfall" *ngIf="checkRegistration()" title= "{{jumper![0].vorname}} {{jumper![0].nachname}} muss den Waiver erneut ausfüllen!">
            <h1>{{jumper![0].vorname}} {{jumper![0].nachname}}</h1>
        </span>
        <p>User-Id: {{jumper![0].id}}</p>
    </div>
    <div class="grundInfos dataSection">
        <div class="firstGap">
            <div class="row">
                <h4>Lizenznummer</h4>
                <p>{{jumper![0].lizenznr}}</p>
            </div>
            <div class="row">
                <h4>Vorname</h4>
                <p>{{jumper![0].vorname}}</p>
            </div>
            <div class="row">
                <h4>Nachname</h4>
                <p>{{jumper![0].nachname}}</p>
            </div>
            <div class="row">
                <h4>Geburtstag</h4>
                <p>{{jumper![0].geburtsdatum | date: 'dd.MM.yyyy'}}</p>
            </div>
        </div>
        <div class="secondGap">
            <div class="row">
                <h4>Boncard-Id</h4>
                <p (click)="copy(jumper![0].boncardId)" class="copy" title="Anklicken um Nummer zu kopieren">{{jumper![0].boncardId}}</p>
            </div>
            <div class="row">
                <h4>Registrationsdatum</h4>
                <p>{{jumper![0].registration | date: 'dd.MM.yyyy'}}</p>
            </div>
            <div class="row">
                <h4>Mitglied</h4>
                <input type="checkbox" [(ngModel)]="jumper![0].mitgliedstatus">
            </div>
            <div class="row">
                <h4>Lizenziert</h4>
                <input type="checkbox" [(ngModel)]="jumper![0].lizenznr">
            </div>
            <div class="row" *ngIf="jumper![0].schuelerstatus">
                <h4>Trainingsausweis</h4>
                <input type="checkbox" [(ngModel)]="jumper![0].trainingsausweis">
            </div>
        </div>
    </div>
    <div class="kontaktDaten dataSection">
        <h2>Kontaktdaten</h2>
        <div class="row">
            <h4>E-Mail</h4>
            <p>{{jumper![0].email}}</p>
        </div>
        <div class="row">
            <h4>Telefon</h4>
            <p>{{jumper![0].telefonnummer}}</p>
        </div>
        <div class="row">
            <h4>Adresse</h4>
            <p>{{jumper![0].adresse}}, {{jumper![0].plz}} {{jumper![0].ortschaft}}</p>
        </div>
    </div>
    <div class="notfallKontakt dataSection">
        <h2>Notfallkontakt</h2>
        <div class="row">
            <h4>Letzte Aktualisierung</h4>
            <p [ngClass]="{'overdue': isDateOverdue(jumper![0].letzteAktualisierung)}" title="Rot = Springer muss erneut das Notfallblatt ausfüllen!">{{jumper![0].letzteAktualisierung | date: 'dd.MM.yyyy'}}</p>
        </div>
        <div class="row">
            <h4>Notfallkontakt</h4>
            <p>{{jumper![0].notfallkontakt}}</p>
        </div>
        <div class="row">
            <h4>Adresse</h4>
            <p>{{jumper![0].notfalladresse}}, {{jumper![0].notfallPLZ}} {{jumper![0].notfallort}}, {{jumper![0].notfallLand}}</p>
        </div>
        <div class="row">
            <h4>Telefon 1</h4>
            <p>{{jumper![0].notfalltelefon}}</p>
        </div>
        <div class="row">
            <h4>Telefon 2</h4>
            <p>{{jumper![0].notfalltelefon2}}</p>
        </div>

    </div>
    <div class="sprungHistory dataSection">
        <h2>Sprunghistorie</h2>
        <div class="row">
            <h4>Sprünge Total</h4>
            <p>{{jumper![0].anzJumps}}</p>
        </div>
        <div class="row">
            <h4>Sprünge letzte 12 Monate / seit Registration</h4>
            <p>{{jumper![0].anzJumpsLetzte12Monate}}</p>
        </div>
    </div>
    <button><a href="https://swissskydive.org/dax/apps/SSDService/?SSDLicenceCheck" target="_blank">Swiss Skydive Licence & Insurance Check</a></button>
    <button><a [href]="getBoncardURL(jumper![0].boncardId)" target="_blank">Boncard Saldo</a></button>
    <button (click)='deleteJumper()'>Springer löschen</button>

</div>